<div class="container">
<div id="new-room-form">
  <div class="input-field col s6">
    <%= form_for :room, url: rooms_path do |f| %>
      <%= f.text_field :name, required: true, placeholder: "Topic: ex. testing, quotations, workflow" %>
      <%= f.text_field :choice, placeholder: "Choice: ex. minitest, rspec, mrspec" %>
      <% if current_user %>
        <%= f.submit "Create room", class: "btn" %>
      <% else %>
        <%= link_to "Login to create room", "/auth/github", class: "btn" %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
