<div class="container">
<div id="new-room-form">
  <div class="col s6">
    <h5>Add a new topic room</h5>
    <%= form_for :room, url: rooms_path do |f| %>
      <%= f.text_field :name, required: true, placeholder: "Topic: ex. testing, quotations, workflow" %>
      <%= f.text_field :choice, placeholder: "Choice: ex. minitest, rspec, mrspec", id: "choice-input-field" %>
      <% if current_user %>
        <%= f.submit "Create room", class: "submit btn" %>
      <% else %>
        <%= link_to "Login to create room", "/auth/github", class: "submit btn" %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
