<div class="container">

  <div class="row">
    <div class="col s12" id="room-show">
      <h2 class="center-align"><%= @room.name %></h2>
    </div> <!-- room-show -->
  </div> <!-- row -->

  <div class="row">
    <div class="col l10 s12">
      <%= render partial: "rooms/manual_close" %>
      <table class="striped messages" style="table-layout: fixed; width: 100%">
        <tbody>
          <tr>
            <td class="center-align"><b>current conversation...</b></td>
          </tr>
        </tbody>
      </table>
      <div id="new-message" class="input-field col s12">
        <% unless @room.closed? %>
          <form class="input-field col s12">
            <input required="required" type="text" name="message[body]" id="message-body" />
            <input type="hidden" name="room" id="room" value="<%= @room.id %>" />
            <input class="btn col l6 s12" id="create-message" type="submit" value="Create message" />
          </form>
        <% end %>
      </div> <!-- new-message -->
    </div>

    <div class="col l2 s12 room-details">
      <%= render partial: "rooms/room_details" %>
      <%= render partial: "rooms/room_choices" %>
        <svg id="timer-clock" viewbox="0 0 252 252">
          <path id="border" transform="translate(125,125)"/>
          <path id="loader" transform="translate(125,125) scale(.84)"/>
          <circle id="full-pie" cx="125" cy="125" r="116">
        </svg>
    </div> <!-- room-details -->

  </div> <!-- row -->
</div> <!-- container -->
