<!DOCTYPE html>
<html>
  <head>
    <title>Quibble</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag    "materialize", media: "screen, projection" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "materialize" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: "layouts/navbar" %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>

  </body>
</html>
