<!DOCTYPE html>
<html>
  <head>
    <title>Quibble</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%# <%= javascript_include_tag "materialize" %1> %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: "layouts/navbar" %>

    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="card-panel teal lighten-5">
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        </div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
